/3er_semestre/CasoDeEstudio5_Examen/build/
/3er_semestre/CasoDeEstudio5_Examen/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio0/build/
/3er_semestre/tema_1/CasoDeEstudio0/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio1/build/
/3er_semestre/tema_1/CasoDeEstudio1/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio2/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio3/build/
/3er_semestre/tema_1/CasoDeEstudio3/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio4/build/
/3er_semestre/tema_1/CasoDeEstudio4/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio5/build/
/3er_semestre/tema_1/CasoDeEstudio5/nbproject/private/
/3er_semestre/tema_1/CasoDeEstudio6/nbproject/private/
/3er_semestre/tema_3/CasoDeEstudio00/nbproject/private/
/3er_semestre/tema_3/CasoDeEstudio00/build/
/3er_semestre/tema_3/ArbolBinario/nbproject/private/
/3er_semestre/tema_4/ArbolBinario/build/
/3er_semestre/tema_3/ArbolBinario2/nbproject/private/
/3er_semestre/tema_3/ArbolBinario2/build/
/3er_semestre/tema_3/ArbolBinario/build/
/3er_semestre/tema_4/ArbolBinarioContactos/nbproject/private/
/3er_semestre/tema_4/ArbolBinarioContactos/build/
/3er_semestre/tema_3/hotFix/nbproject/private/
/3er_semestre/tema_3/hotFix/build/
/3er_semestre/tema_3/Radix/nbproject/private/
/3er_semestre/tema_3/Radix/build/
/3er_semestre/tema_3/Mezcla Directa/nbproject/private/
/3er_semestre/tema_3/Mezcla Directa/build/
/3er_semestre/tema_3/Mezcla Natural/nbproject/private/
/3er_semestre/tema_3/Mezcla Natural/build/
/3er_semestre/tema_3/MetodosDeOrdenamiento/nbproject/private/
