/Herencia/src/herencia/placeholders/placeholders/build/
/Herencia/src/herencia/placeholders/placeholders/nbproject/private/
/PracticaAbstract1/nbproject/private/
/PracticaAbstract1/build/
/EjemploInterface_1/nbproject/private/
/JavaApplication10/nbproject/private/
/EjemploAbstract_!/nbproject/private
/EjemploAbstract_1/nbproject/private/
/EjemploInterface_1/build/
/EjemploAbstract_1/build/
/HerenciaUI/build/
/HerenciaEjemplo3/nbproject/private/
/HerenciaEjemplo3/dist/
/HerenciaEjemplo3/build/
/HerenciaEjemplo3.V2/nbproject/private/
/HerenciaEjemplo3.V2/build/
